* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #151320;
 }
.caixa{
    position: relative;
    width: 90%;
    height: 1000px;
    margin-top: 2%;
    color: #fff;
    background-color: #151320;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font: bold 2em 'centurty Gothic';
    text-transform: uppercase;
}
.caixa::before, .caixa::after {
    content:'';
    position: absolute;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
    background-size: 300%;
    border-radius: 8px;
    animation: AnimarBorda 8s linear alternate infinite;
}
@keyframes AnimarBorda {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;
    }
}
.caixa::after {
    filter: blur(10px);
}

.title-sticky {
    position: -webkit-sticky;
    top: 0;
  }

.videologo {
    position: relative;
    border-radius: 2%;
    margin-top: 10px;
}